body {
 	padding: 0; margin: 0;
 	background-color: white; }

html, body  { 
height: 100%; 
width: 100%; 
}
.example-wrapper { 
margin: 1em auto; width:90%; font: 18px/1.5 sans-serif; 
}
.example-wrapper code { 
background: #F5F5F5; padding: 2px 6px;
}   

.desc{
font-size:0.8em;
    }
.modal-content{
background-color:#87999A;
						
}

.modal-header {
background-color:#DDE4E6;    
width:100%;
margin:auto;
}

.modal-header .close
{
margin:-1rem -1rem -1rem -1rem;
}
.card-title{
	margin : 5px;
	padding: 5px;
	background-color : #DCDCDC;
	color : black;
}


#map{
	height:100vh;
	background-color:#CCCCCC;
	position:sticky!important;	
	top:0;
	left:0;
}

@media only screen and (min-width:1100px ){
	.actors-container{
	
	display:grid;
	grid-template-columns: 6fr 4fr;
	}
    
	.list{
		
		display:grid;
		grid-template-columns: repeat(2,1fr);
		grid-column-gap:10px;
		grid-row-gap:10px;
		padding: 0 10px;
		min-height:80%;
		
		
	}
} 
.item {
	background-color : LightGrey ;
	padding: 0 10px;
	overflow-wrap: break-word;
	
}
.actors-list{
		max-height:20%;
}
.hidden-item {
	background-color : LightGrey ;
	padding: 0 10px;
	overflow-wrap: break-word;
	display:none;
	
}
.item > a{
	color:#2C3E50
}


.thumbnail-logo {

    max-width: 50px;

}


.thumbnails{
	max-width:100px;
	float:left;
	padding:5px;
}

.admin-control {
	float: left;
	margin-bottom:3px;
	margin-left:3px;
	
}
.icon{
	max-width: 80%;
	 display: block;
	  max-height: 200px
}
.icon-thumbnails{
	max-width: 15%;
	 display: inline;
	  max-height: 60px
}

/* leaflet marker css*/

.entry-marker.leaflet-popup{
	margin-bottom: 16px;
	cursor:pointer;
	font-size:16px;
	font-weight:bold;
	padding: 5px 10px;
	text-align: center;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	background-color:#DCDCDC;
}

.entry-marker.leaflet-popup::after{
	content:'';
	position:absolute;
	top:100%;
	left:50%;
	width:0;
	height:0;
	margin-left:-8px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #DCDCDC;
	
}


	
.entry-marker .leaflet-popup-content-wrapper{
	background:transparent;
	color:inherit;
	box-shadow:none;
	text-align:inherit;
	
	
}
.entry-marker .leaflet-popup-content{
	text-align:inherit;
	color:inherit;
	margin:0;
	
}
.entry-marker .leaflet-popup-tip-container{
	display:none;
}

.entry-marker.active, .entry-marker:hover {
	z-index:300;
	background-color: #2C3E50 !important;
	color:  	#FFF;
}


.entry-marker.active::after, .entry-marker:hover::after{
	border-top-color:#2C3E50;
	margin:-7px;
	
}
.entry-marker.expanded {
	z-index:301;
	background-color: #DCDCDC!important;
	color: inherit!important;
	
}

/* leaflet command*/
.command {
    padding: 4px 6px;
    background: white;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    min-width: 200px;
}
