body {
    background-color: white;
}
.modal-content{
			    background-color:#87999A;
			
			
			}
    .modal-header {
    			    background-color:#DDE4E6;
    
width:100%;
margin:auto;
       }
.modal-header .close
{
margin:-1rem -1rem -1rem -1rem;}