{% extends 'base.html.twig' %}


{% block title %}Accueil{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />

{% endblock %}

{% block body %}


<div class="example-wrapper">
          {{ include('map/map.html.twig') }}
 
</div>
{% block javascripts %}

<script src="https://code.jquery.com/jquery-3.4.0.min.js"
			  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
			  crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>		
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>	
<script src="https://cdnjs.cloudflare.com/ajax/libs/esri-leaflet/2.3.0/esri-leaflet.js"></script>  
{% endblock %}
{% endblock %}
