{% extends 'base.html.twig' %}


{% block title %}Hello FrontController!{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
{% endblock %}

{% block body %}



<div class="example-wrapper">
          {{ include('map/map.html.twig') }}
 
</div>
{% block javascripts %}
{{ encore_entry_script_tags('entry-marker') }}
{% endblock %}
{% endblock %}
