{% extends 'base.html.twig' %}

{% block title %}Authentification{% endblock %}

{% block body %}
<div class= "container">
<div class="jumbotron">
  	<h1>Mentions légales</h1> 
   <div class="medium-12 large-12 small-12 columns article" id="9">
                <h4>
                    1 - <span>Traitement des données personnelles</span>
                </h4>
                <ul class="num">
                <li>1.1 L'APF Rhône-Ain, responsable de traitement, est amené à collecter, utiliser, diffuser, conserver ou effectuer tout autre traitement de données à caractère personnel concernant les acteurs soumis pour la diffusion sur l'annuaire cartographique APF-RA
<ol>
 Plus particulièrement, ces données sont traitées afin d’exécuter les opérations suivantes : 
<li> -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; diffusion pulique d'informations;
</li><li> -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; réalisation d’études statistiques.
</li></ol>
            	</ul>
                <ul class="num">
                <li>1.2 Les données enregistrées sont destinées à l’usage publique.</li>
               </ul>
  
                <ul class="bulletList">
                <li>1.3 Conformément à la loi du 6 janvier 1978 modifiée dite « Informatique et Libertés » et au règlement européen 2016/679 du 27 avril 2016 dit « Règlement Général sur la Protection des Données », vous disposez d’un droit d’accès, de rectification, de modification et de suppression des données qui vous concernent. Vous pouvez ainsi exiger que soient rectifiées, complétées, clarifiées, mises à jour ou effacées les informations vous concernant qui sont inexactes, incomplètes, équivoques, ou périmées. Vous pouvez également exercer vos droits d’opposition et de limitation du traitement de vos données ainsi que votre droit à la portabilité des informations vous concernant.
</li>
<li> Afin d’exercer vos droits, vous pouvez adresser une demande par courriel à l’adresse suivante :<a href="mailto:admin@apf.fr"> admin@apf.fr</a>.&nbsp; Vous disposez également d’un droit de recours auprès d’une autorité nationale de contrôle telle que la Commission Nationale de l’Informatique et des libertés en cas de violation de la règlementation applicable en matière de protection des données personnelles.</li>
          
</ul>
            </div>
            <hr>
            <div class="medium-12 large-12 small-12 columns article" id="10">
                <h4>
                    2 - <span>Cookies</span>
                </h4>
                <ul class="bulletList">
                <li>2.1 Ce site n'utilise aucun cookies pour toute navigation en tant qu'utilisateur non authentifié.</li>
            	Utilisateurs authentifiés :
                    
                 <li>Seul le cookies de session sont nécessaires pour garantir une navigation fluide sur ce site</li>
                    </ul>
          
            </div>
            </div>
</div>
{% endblock %}
